<!DOCTYPE html>

<html lang="en-us">
<head>
    <title>GES | Administration</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/admin/css/base.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/admin/css/login.css' %}"/>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/admin/css/responsive.css' %}"/>
    <script type="text/javascript" src="{% static '/assets/js-core/jquery-core.js' %}"></script>
    <meta name="robots" content="NONE,NOARCHIVE"/>

    <style>
        #id_city{
            clear: both;
            padding: 8px;
            width: 100%;
            box-sizing: border-box;
        }

        .hidden{
            display: none;
            visibility: hidden;
        }
    </style>
</head>


<body class=" login" data-admin-utc-offset="0">
    <div id="container">
        <div id="header">
            <div id="branding">
                <h1 id="site-name"><a href="/admin/">E-Cell Administration</a></h1>
            </div>
        </div>
        <div id="content" class="colM">
            <form action='{% url  "hall_allotment" %}' method='GET'>
                                <input type='hidden' name='redirect' value='{{ request.build_absolute_uri }}'>
                {% csrf_token %}
                <div class='form-row'>
                        <p><input type="checkbox" id="checkinAll" >Select All</p>

                    <p>
                    Male students : {{male_num}}  
                    </p>
                
                    {% for student in students_male %}
                    <p>
                    <input class='checkinbox' type='checkbox' name='{{student.pk}}' value = '1'>{{student.name}}:  {{student.category}}
                    </p>
                    {% endfor %}
            
                    <p>
                    Female students : {{female_num}}  
                    </p> 
                    
                    {% for student in students_female %}
                    <p>
                    <input class='checkinbox' type='checkbox' name='{{student.pk}}' value = '1'>{{student.name}}:  {{student.category}}
                    </p>

                    {% endfor %}
                    <p>Male Hall</p>
                    <select name="m_hall">
                        {% for hall in male_halls %}
                            <option value='{{hall.name}}'>{{hall.name}}: {{hall.left}} Left</option>
                        {% endfor %}
                    </select>

                    <p>Female Hall</p>
                    <select name="f_hall">
                        {% for hall in female_halls %}
                            <option value='{{hall.name}}'>{{hall.name}}: {{hall.left}} Left</option>
                        {% endfor %}
                    </select> 
                </div>
                <input type='hidden' name='c_id' value='{{captcha}}'>
                <div class='submit-row'><input type='submit' value="CheckIn"></div>
        
            </form>
<br><hr><br>
        <p>Checked in: Info</p>

        <form method='POST' action = '{% url "con_checkout" %}'>
                <input type='hidden' name='redirect' value='{{ request.build_absolute_uri }}'>

            {% csrf_token %}
        <input type='hidden' name='c_id' value='{{captcha}}'>
        <div class="form-row">
                <p><input type="checkbox" id="checkoutAll" >Select All</p>

        {% for stu in checkedIn %}
        <p><input class="checkoutbox" type='checkbox' name='{{stu.pk}}' value = 'out'>{{stu.name}}: {{stu.category}}</p>
        {% endfor %}
        </div>
        <div class='submit-row'><input type='submit' value="Checkout"></div>
        
    </form>

    </div>
        <div id="footer"></div>
    </div>
<script>
$(document).ready(()=>{
   /* $('#checkinAll').click(()=>{
        console.log("just for check")
        if(this.checked){
            $('.checkinbox').each(function(){
                this.checked = true;
            })
        }
        else{
            $('.checkinbox').each(function(){
                this.checked = false;
            })
        }
    })

    $('#checkoutAll').click(()=>{
        if(this.checked){
            $('.checkoutbox').each(function(){
                this.checked = true;
            })
        }
        else{
            $('.checkoutbox').each(function(){
                this.checked = false;
            })
        }
    })*/


        $('#checkinAll').click(function(){
            if($(this).prop("checked")) {
                $(".checkinbox").prop("checked", true);
            } else {
                $(".checkinbox").prop("checked", false);
            }                
        });


        $('.checkinbox').click(function(){
            if($(".checkinbox").length == $(".checkinbox:checked").length) {
                $("#checkinAll").prop("checked", true);
            }else {
                $("#checkinAll").prop("checked", false);            
            }
        });

        $('#checkoutAll').click(function(){
            if($(this).prop("checked")) {
                $(".checkoutbox").prop("checked", true);
            } else {
                $(".checkoutbox").prop("checked", false);
            }                
        });


        $('.checkoutbox').click(function(){
            if($(".checkoutbox").length == $(".checkoutbox:checked").length) {
                $("#checkoutAll").prop("checked", true);
            }else {
                $("#checkoutAll").prop("checked", false);            
            }
        });


})
</script>

</body>
</html>
