{% extends 'login/base.html' %}

{% block content %}

{% load static %}
<!--    <link rel="stylesheet" type="text/css" href="{% static '/assets/contacts/style.css'  %}">
    <link rel="stylesheet" type="text/css" href="{% static '/assets/contacts/set1.css'  %}">
    <link rel="stylesheet" type="text/css" href="{% static '/assets/contacts/normalize.css'  %}">
    <link rel="stylesheet" type="text/css" href="{% static '/assets/contacts/demo.css'  %}">

<body>
		<div class="container">
			<div class="content">
				
				<div class="grid">
					<figure class="effect-zoe">
						<img src="TEST.jpg" alt="img25"/>
						<figcaption>
							<h2>Creative <span>Zoe</span></h2>
							<p class="icon-links">
								<a href="#"><span class="icon-heart"></span></a>
								<a href="#"><span class="icon-eye"></span></a>
								<a href="#"><span class="icon-paper-clip"></span></a>
							</p>
							<p class="description">Zoe never had the patience of her sisters. She deliberately punched the bear in his face.</p>
						</figcaption>			
					</figure>
					<figure class="effect-zoe">
						<img src="25.jpg" alt="img25"/>
						<figcaption>
							<h2>Creative <span>Zoe</span></h2>
							<p class="icon-links">
								<a href="#"><span class="icon-heart"></span></a>
								<a href="#"><span class="icon-eye"></span></a>
								<a href="#"><span class="icon-paper-clip"></span></a>
							</p>
							<p class="description">Zoe never had the patience of her sisters. She deliberately punched the bear in his face.</p>
						</figcaption>			
					</figure>
					<figure class="effect-zoe">
						<img src="TEST.jpg" alt="img25"/>
						<figcaption>
							<h2>Creative <span>Zoe</span></h2>
							<p class="icon-links">
								<a href="#"><span class="icon-heart"></span></a>
								<a href="#"><span class="icon-eye"></span></a>
								<a href="#"><span class="icon-paper-clip"></span></a>
							</p>
							<p class="description">Zoe never had the patience of her sisters. She deliberately punched the bear in his face.</p>
						</figcaption>			
					</figure>
					<figure class="effect-zoe">
						<img src="TEST.jpg" alt="img25"/>
						<figcaption>
							<h2>Creative <span>Zoe</span></h2>
							<p class="icon-links">
								<a href="#"><span class="icon-heart"></span></a>
								<a href="#"><span class="icon-eye"></span></a>
								<a href="#"><span class="icon-paper-clip"></span></a>
							</p>
							<p class="description">Zoe never had the patience of her sisters. She deliberately punched the bear in his face.</p>
						</figcaption>			
					</figure>
					<figure class="effect-zoe">
						<img src="TEST.jpg" alt="img25"/>
						<figcaption>
							<h2>Creative <span>Zoe</span></h2>
							<p class="icon-links">
								<a href="#"><span class="icon-heart"></span></a>
								<a href="#"><span class="icon-eye"></span></a>
								<a href="#"><span class="icon-paper-clip"></span></a>
							</p>
							<p class="description">Zoe never had the patience of her sisters. She deliberately punched the bear in his face.</p>
						</figcaption>			
					</figure>
					<figure class="effect-zoe">
						<img src="TEST.jpg" alt="img25"/>
						<figcaption>
							<h2>Creative <span>Zoe</span></h2>
							<p class="icon-links">
								<a href="#"><span class="icon-heart"></span></a>
								<a href="#"><span class="icon-eye"></span></a>
								<a href="#"><span class="icon-paper-clip"></span></a>
							</p>
							<p class="description">Zoe never had the patience of her sisters. She deliberately punched the bear in his face.</p>
						</figcaption>			
					</figure>
					<figure class="effect-zoe">
						<img src="TEST.jpg" alt="img25"/>
						<figcaption>
							<h2>Creative <span>Zoe</span></h2>
							<p class="icon-links">
								<a href="#"><span class="icon-heart"></span></a>
								<a href="#"><span class="icon-eye"></span></a>
								<a href="#"><span class="icon-paper-clip"></span></a>
							</p>
							<p class="description">Zoe never had the patience of her sisters. She deliberately punched the bear in his face.</p>
						</figcaption>			
					</figure>
					<figure class="effect-zoe">
						<img src="TEST.jpg" alt="img25"/>
						<figcaption>
							<h2>Creative <span>Zoe</span></h2>
							<p class="icon-links">
								<a href="#"><span class="icon-heart"></span></a>
								<a href="#"><span class="icon-eye"></span></a>
								<a href="#"><span class="icon-paper-clip"></span></a>
							</p>
							<p class="description">Zoe never had the patience of her sisters. She deliberately punched the bear in his face.</p>
						</figcaption>			
					</figure>
					<figure class="effect-zoe">
						<img src="TEST.jpg" alt="img25"/>
						<figcaption>
							<h2>Creative <span>Zoe</span></h2>
							<p class="icon-links">
								<a href="#"><span class="icon-heart"></span></a>
								<a href="#"><span class="icon-eye"></span></a>
								<a href="#"><span class="icon-paper-clip"></span></a>
							</p>
							<p class="description">Zoe never had the patience of her sisters. She deliberately punched the bear in his face.</p>
						</figcaption>			
					</figure>
					<figure class="effect-zoe">
						<img src="TEST.jpg" alt="img25"/>
						<figcaption>
							<h2>Creative <span>Zoe</span></h2>
							<p class="icon-links">
								<a href="#"><span class="icon-heart"></span></a>
								<a href="#"><span class="icon-eye"></span></a>
								<a href="#"><span class="icon-paper-clip"></span></a>
							</p>
							<p class="description">Zoe never had the patience of her sisters. She deliberately punched the bear in his face.</p>
						</figcaption>			
					</figure>
				</div>
			</div>
		</div>
		<script>
			// For Demo purposes only (show hover effect on mobile devices)
			[].slice.call( document.querySelectorAll('a[href="#"') ).forEach( function(el) {
				el.addEventListener( 'click', function(ev) { ev.preventDefault(); } );
			} );
		</script>
	</body>-->

<iframe width="100%" height="100%" frameborder="0" src='/assets/contacts/index.html'>
  
</iframe>

{% endblock %}

