{% extends base_path %}

{% block content %}
<div class="row">
 
                     <div class="col-md-9">
                        <div class="tab-content">
                           <div class="tab-pane fade active in pad0A" id="faq-tab-1">
                              <div class="panel-group" id="accordion5">
                                 <div class="panel">
                                    <div class="panel-heading">
                                       <h4 class="panel-title" ><a data-toggle="collapse" data-parent="#accordion5" href="#collapseOne">Registration Process<span class="icons" style="float:right;">+</span></a></h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in" style="font-size: 17px">
                                       <div class="panel-body pad0B">
                                         <ul style="list-style-type: disc;">
						        	                       <li>Initiate the process of registration by filling your personal details at: http://www.ges.ecell-iitkgp.org/register</li>
						        	                       <li>In case your college is not on the list, then request an invite.</li>
						        	                       <li>Make sure that you register under any one of the below mentioned category as per your applicability</li>
                                             <li>As soon as your data has been updated, you will get a link via email to verify.</li>
						                                 <li>Login id along with the login password entered earlier in the form shall be sent on your email.</li>
						        	                       <li>Login to http://www.ges.ecell-iitkgp.org/login with the details received in mail.</li>
						        	                       <li>Fill the basic questions given in form.</li>
						        	                       <li>Proceed to payment as Individual or contingent.</li>
						        	                       <li>Fill your travel details.</li>
						        	                       <li>After filling all this details your seat in GES will be confirmed.</li>
                                        </ul>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="panel">
                                    <div class="panel-heading">
                                       <h4 class="panel-title" ><a data-toggle="collapse" data-parent="#accordion5" href="#collapseTwo">Registration Fees<span class="icons" style="float:right;">+</span></a></h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse" style="font-size: 17px">
                                       <div class="panel-body pad0B">
                                         <table class="table table-striped">
<!-- 						      	<thead><th></th><th>Early Bird (Registration before 31st December)</th>th>Registration in first week of January</th</thead> -->
                                           <tbody><tr><td><b>Student Individual</b></td><td>INR 1100/-</td></tr>
                                             <tr><td><b>Professor</b></td><td>INR 1500/-</td></tr>
                                             <tr><td><b>College Contingent</b></td><td>INR 1000/- per student individual contingent member<br>INR 1400/- per professor contingent member<br>Additional discount of INR 100/- per person if contingent consists of more than 20 people.</td></tr>
                                             <tr><td><b>Professional</b></td><td>INR 2000/-</td></tr><tr>
                                             </tr><tr><td><b>Campus Ambassador</b></td><td>INR 1000/-</td></tr><tr>
                                             </tr><tr><td><b>GES Ambassado</b>r</td><td>INR 1100/- (Concession based on performance)</td></tr>
                                             <tr><td><b>Empresario Semi-Finalists</b></td><td>INR 800/- per team member(without accomodation)<br>INR 1550/- per team member(with accomodation)</td></tr>
                                             <tr><td><b>For Startups</b></td><td>If the startup participates in Startup Camp, then INR 2000/- for Team Representative and INR 1000/- for every additional team member.If the startup doesn't 
											participate in Startup Camp, then INR 1000/- per team member ( including representative )</td></tr>
										
										
						      </tbody></table>   
                                       </div>
                                    </div>
                                 </div>
                                 <div class="panel">
                                    <div class="panel-heading">
                                       <h4 class="panel-title" ><a data-toggle="collapse" data-parent="#accordion5" href="#collapseThree">Category of Registration<span class="icons" style="float:right;">+</span></a></h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse" style="font-size: 17px">
                                       <div class="panel-body pad0B">
                                          <div class="mrg15B">                         
                                               <ul style="list-style-type: disc;">
                                                 <li><b>Student Individual</b> - If you want to attend GES not as a part of any contingent, you can register under this category.</li>
                                                 <li><b>Professor</b> - A professor or faculty from any college can attend GES under this category.</li>
                                                 <li><b>College Contingent</b> - You can form a contingent of four or more student individual(s).All contingent members have to register as individual student or professor first before registering as contingent. </li>
                                                 <li><b>Professional</b> - Any non-student or non-faculty participant can register under this category.You cannot attend GES as one contingent.</li>
                                                 <li><b>Empresario Semi-Finalists</b> - Empresario Semi-Finalists need to register under this cateogry. You cannot attend GES as one contingent or part of any contingent even if there is a contingent from your college.</li>
                                                 <li><b>For Startups</b> - If any startup wants to participate in Startup Camp and related events as a startup, you need to register under this category. You cannot attend GES as a college contingent or part of any college contingent. Any startup  professional who does not want to participate in Startup Camp and related events can attend GES under Professional category and not under Startup Camp category.</li>											                                                        
                                               </ul>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                <div class="panel">
                                    <div class="panel-heading">
                                       <h4 class="panel-title" ><a data-toggle="collapse" data-parent="#accordion5" href="#collapseFour">Terms & Conditions<span class="icons" style="float:right;">+</span></a></h4>
                                    </div>
                                    <div id="collapseFour" class="panel-collapse collapse" style="font-size: 17px">
                                       <div class="panel-body pad0B">
                                         <div class="mrg15B">
                                            <ul style="list-style-type: disc;">
                                               <li>Payment is non-refundable, under any circumstances whatsoever.</li>
                                               <li>Tshirt of specified size will be provided only on availability (till stocks last).</li>
                                               <li>Accommodation inside campus is mandatory. Paraphernalia required will be provided on arrival.</li>
                                               <li>Any person found flouting institute rules will be subjected to disciplinary proceedings and as a consequence, the respective college may be debarred from GES forever in the future.</li>
                                               <li>Registration Fees has to be paid completely in one installment, as given in the website. No concessions will be permitted except those mentioned on website.</li>
                                               <li>Appliances and belongings are the sole responsibility of the participants. E-Cell, IIT Kharagpur is not responsible for any loss or damage caused.</li>
                                            </ul>
                                         </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
</div>

<script>
  $(document).ready(function(){
	//toggle the component with class accordion_body
	$(".panel-title").click(function(){
    $(this).next('.icons').css('transform', 'rotateZ(45deg)');
// 		if ($('.panel-title').is(':visible')) {
			
// 			$(".icons").text(	'+');
// 		}
//         if( $(this).next(".panel-title").is(':visible')){
            
//             $(this).children(".icons").text('+');
//         }else {
           
//             $(this).children(".icons").text('-');
//         }
	});
});
</script>

{% endblock %}