{% extends 'ges-admin/base2.html' %}

{% block content %}
{#                <script type="text/javascript" src="../../assets/widgets/datatable/datatable.js"></script>#}
{#                <script type="text/javascript" src="../../assets/widgets/datatable/datatable-bootstrap.js"></script>#}
{#                <script type="text/javascript" src="../../assets/widgets/datatable/datatable-responsive.js"></script>#}
                <script type="text/javascript">/* Datatables responsive */

                {#$(document).ready(function () {#}
                {#    $('#datatable-responsive').DataTable({#}
                {#        responsive: true#}
                {#    });#}
                {#});#}

                $(document).ready(function () {
                    $('.dataTables_filter input').attr("placeholder", "Search...");
                });</script>
    <div class="panel">
        <div class="panel-body"><h3 class="title-hero">GES 2019 Registered Contingents {% if city %}- {{ city }}{% endif %}</h3>
            <div class="example-box-wrapper">
                <table id="datatable-responsive" class="table table-striped table-bordered responsive no-wrap" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>View</th>
                        <th>Contingent ID</th>
                        <th>College</th>
                        <th>City</th>
                        <th>Size</th>
                        <th>Contingent Admin</th>
                        <th>Admin Email</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>View</th>
                        <th>Contingent ID</th>
                        <th>College</th>
                        <th>City</th>
                        <th>Size</th>
                        <th>Contingent Admin</th>
                        <th>Admin Email</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for data in reg_data %}
                        <tr>
                            <td><a href="{% url 'admin_view_contingent' id=data.2.id %}"><i class="glyph-icon icon-linecons-paper-plane"></i></a></td>
                            <td>{{ data.2.id }}</td>
                            <td>{{ data.1.college }}</td>
                            <td>{{ data.1.city }}</td>
                            <td>{{ data.3 }}</td>
                            <td><a href="{% url 'admin_view_profile' id=data.0.id %}">{{ data.1.name }}</a></td>
                            <td>
                                {{ data.1.user }}&nbsp;&nbsp;
                                <a title="Email {% if not user.is_active %}not {% endif %}Verified" href="#" class="{% if user.is_active %}green{% else %}red{% endif %}">
                                    <i class="glyph-icon icon-{% if user.is_active %}check{% else %}exclamation{% endif %}-circle"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}